<div class="bg-dark text-white p-3">
  <h1>Gráficos con Angular / D3</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Prueba de librería D3 en Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/']">Inicio (puntos)</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/barras']">Barras</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/lineas']">Lineas</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/tortas']">Tortas</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>